version: '2'

services:
  gergich:
    image: instructure/gergich
    environment:
      GERGICH_KEY: "${GERGICH_KEY}"
      GERRIT_PROJECT: "${GERRIT_PROJECT}"
      GERRIT_HOST: "${GERRIT_HOST}"
      GERRIT_BRANCH: "${GERRIT_BRANCH}"
    volumes:
      - '.git:/app/.git'
      - 'tmp:/tmp'

  karma:
    build:
      context: .
      dockerfile: Dockerfile.karma
    environment:
      NODE_ENV: test
    volumes:
      - karma-modules:/usr/src/app/node_modules
      - karma-translations:/usr/src/app/translations

volumes:
  karma-modules: {}
  karma-translations: {}
  tmp: {}
