services:
  gergich:
    image: instructure/gergich
    environment:
      GERGICH_KEY: "${GERGICH_KEY}"
      GERRIT_PROJECT: "${GERRIT_PROJECT}"
      GERRIT_HOST: "${GERRIT_HOST}"
      GERRIT_BRANCH: "${GERRIT_BRANCH}"
      GERRIT_PATCHSET_REVISION: "${GERRIT_PATCHSET_REVISION}"
      GERRIT_CHANGE_ID: "${GERRIT_CHANGE_ID}"
    volumes:
      - '.git:/app/.git'
      - 'tmp:/tmp'

  ui:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: test
    volumes:
      - ui-modules:/usr/src/app/node_modules
      - ui-translations:/usr/src/app/translations

volumes:
  ui-modules: {}
  ui-translations: {}
  tmp: {}
