.checkbox {
  padding: var(--outcomePickerItemPadding);
}

.checkboxLabel {
  padding-left: var(--checkboxLabelLeftPadding);
  display: flex;
}

.checkboxDescription {
  padding-left: var(--checkboxDescriptionLeftPadding);
}

.linkText {
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
}

.innerLinkText {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}
