.checkboxLabel {
  padding-left: var(--checkboxLabelLeftPadding);
  display: flex;
}

.checkboxDescription {
  padding-left: var(--checkboxDescriptionLeftPadding);
}

.richDescription > p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

  &:first-child {
    margin-top: 0
  }

  &:last-child {
    margin-bottom: 0
  }
}

.linkText {
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  width: 100%;
}

.innerLinkText {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}
